<launch>
  <arg name="mode" default="middle" />
  <arg name="config_file" default="$(find iden_controller)/config/xunfei2026_src2_line_follow_v3.yaml" />
  <node pkg="iden_controller"
        type="xunfei2026_src2_line_follow_takeover_v3.py"
        name="reference_line_follow_takeover_v2"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="mode" value="$(arg mode)" />
  </node>
</launch>
