<launch>
  <!-- Four-state YOLOv5s/RKNN traffic-light detector for RK3588. -->
  <arg name="image_topic" default="/ucar_camera/image_raw" />
  <arg name="enable_topic" default="/traffic_light/enable" />
  <arg name="state_topic" default="/traffic_light/state" />
  <arg name="command_topic" default="/follow_begin" />
  <arg name="decision_topic" default="/traffic_light/decision" />
  <arg name="debug_topic" default="/traffic_light/debug_image" />
  <arg name="camera_profile_service" default="/ucar_camera/set_exposure_profile" />
  <arg name="require_camera_profile" default="true" />
  <arg name="camera_profile_timeout_seconds" default="2.0" />

  <arg name="model_path"
       default="$(find traffic_light_vision)/models/traffic_light_yolov5s_fp16.rknn" />
  <arg name="input_size" default="640" />
  <arg name="confidence_threshold" default="0.55" />
  <arg name="nms_threshold" default="0.45" />
  <arg name="apply_sigmoid" default="false" />
  <arg name="use_all_npu_cores" default="true" />

  <arg name="vote_window" default="7" />
  <arg name="direction_min_votes" default="5" />
  <arg name="direction_min_avg_confidence" default="0.65" />
  <arg name="red_confirm_frames" default="2" />

  <!-- Production default is gated: arm with /traffic_light/enable=true at the stop line. -->
  <arg name="enabled_at_start" default="false" />
  <arg name="publish_commands" default="true" />
  <arg name="publish_decisions" default="true" />
  <arg name="publish_debug" default="true" />

  <node pkg="traffic_light_vision"
        type="traffic_light_detector.py"
        name="traffic_light_detector"
        output="screen"
        required="true">
    <param name="image_topic" type="string" value="$(arg image_topic)" />
    <param name="enable_topic" type="string" value="$(arg enable_topic)" />
    <param name="state_topic" type="string" value="$(arg state_topic)" />
    <param name="command_topic" type="string" value="$(arg command_topic)" />
    <param name="decision_topic" type="string" value="$(arg decision_topic)" />
    <param name="debug_topic" type="string" value="$(arg debug_topic)" />
    <param name="camera_profile_service" type="string" value="$(arg camera_profile_service)" />
    <param name="require_camera_profile" type="bool" value="$(arg require_camera_profile)" />
    <param name="camera_profile_timeout_seconds"
           type="double"
           value="$(arg camera_profile_timeout_seconds)" />

    <param name="model_path" type="string" value="$(arg model_path)" />
    <param name="input_size" type="int" value="$(arg input_size)" />
    <param name="confidence_threshold" type="double" value="$(arg confidence_threshold)" />
    <param name="nms_threshold" type="double" value="$(arg nms_threshold)" />
    <param name="apply_sigmoid" type="bool" value="$(arg apply_sigmoid)" />
    <param name="use_all_npu_cores" type="bool" value="$(arg use_all_npu_cores)" />

    <param name="vote_window" type="int" value="$(arg vote_window)" />
    <param name="direction_min_votes" type="int" value="$(arg direction_min_votes)" />
    <param name="direction_min_avg_confidence"
           type="double"
           value="$(arg direction_min_avg_confidence)" />
    <param name="red_confirm_frames" type="int" value="$(arg red_confirm_frames)" />
    <param name="enabled_at_start" type="bool" value="$(arg enabled_at_start)" />
    <param name="publish_commands" type="bool" value="$(arg publish_commands)" />
    <param name="publish_decisions" type="bool" value="$(arg publish_decisions)" />
    <param name="publish_debug" type="bool" value="$(arg publish_debug)" />

    <!-- Model class IDs: 0=red, 1=straight, 2=right, 3=left. -->
    <rosparam param="class_names">[red, straight, right, left]</rosparam>
    <rosparam param="anchors">
      [[10, 13], [16, 30], [33, 23],
       [30, 61], [62, 45], [59, 119],
       [116, 90], [156, 198], [373, 326]]
    </rosparam>
  </node>
</launch>
