<launch>

    <arg name="tts_topic" default="/factory/tts_text" />
    <arg name="tts_speed" default="60" />

    <!-- ========================= -->
    <!--      语音识别节点(C++)      -->
    <!-- ========================= -->
    <node
        pkg="speech_command"
        type="cloud_asr_test2"
        name="cloud_asr_test2"
        output="screen">
        <param name="tts_topic" value="$(arg tts_topic)" />
        <param name="tts_speed" value="$(arg tts_speed)" />
    </node>

    <!-- ========================= -->
    <!--      大模型决策(Python)     -->
    <!-- ========================= -->
    <node
        pkg="speech_command"
        type="spark_llm_node.py"
        name="spark_llm_node"
        output="screen" />

</launch>
