<launch>

    <!-- ========================= -->
    <!--      语音识别节点(C++)      -->
    <!-- ========================= -->
    <node
        pkg="speech_command"
        type="cloud_asr_test2"
        name="cloud_asr_test2"
        output="screen" />

    <!-- ========================= -->
    <!--      大模型决策(Python)     -->
    <!-- ========================= -->
    <node
        pkg="speech_command"
        type="spark_llm_node.py"
        name="spark_llm_node"
        output="screen" />

</launch>